*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(209, 209, 209);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo{
    position: relative;
    width: 171px;
    height: 36;
    left: 22.8px;
    top: 11px;
}

.linhas{
    background-color:aliceblue;
    width: 222px;
    height: 2px;
}

#linha1{
    position: absolute;
    top: 65px;
}

#linha2{
    position: absolute;
    top: 69px;
    height: 2.99px;
}

#linha3, #linha4, #linha5, #linha6, #linha7, #linha8{
    margin-top: 15px;
}

#vertwhite {
    background-color: white;
    width: 4px;
    height: 718px;
    left: 222px;
    bottom: 37px;
}
#vertblue {
    background-color: rgb(57, 67, 112);
    width: 4px;
    height: 718px;
    left: 226px;
    bottom: 755px;
}
#circle {
    position: absolute;
    left: 234px;
    bottom: 1463px;
}


ul{
    background-color: rgb(57, 67, 112);
    width: 222px;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li, a{
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

#menu-lateral{
    position: absolute;
    top: 69px;
    display: flex;
    flex-direction: column;
    font-size: 20px; 
}

#foto{
    background-color: rgb(172, 172, 172);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

#usuario{
    display:flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 1%;
    right: 1%;
    margin-right: 15px;
}

#sair{
    display:flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
    position: absolute;
    top: 658px;
}

#logout{
    position: absolute;
    bottom: 1%;
    left: 1%;
    height: 22px;
    width: 23.4px;
}

#nome-sair{
    position: absolute;
    bottom: 2px;
    left: 18px;
    font-size: 18px;
}

#gear{
    position: absolute;
    bottom: 1%;
    left: 181px;
    height: 18px;
}

#nome{
    color: rgb(39, 45, 77);
    display: flex;
    flex-direction: column;
}

#sino-notificacao{
    height: 40px;
    margin-left: 20px;
}