*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: Cabin;
}

#titulo{
    position: relative;
    width: 171px;
    height: 36;
    left: 22.8px;
    top: 11px;
}

.linhas{
    background-color:aliceblue;
    width: 222px;
    height: 2px;
}

#linha1{
    position: absolute;
    top: 65px;
}

#linha2{
    position: absolute;
    top: 69px;
    height: 2.99px;
}

#linha3, #linha4, #linha5, #linha6, #linha7, #linha8{
    margin-top: 15px;
}

#vertical {
    position: absolute;
    width: 222px;
    height: 767px;
}
#vertwhite {
    background-color: white;
    width: 4px;
    height: 767px;
    left: 222px;
    top: 0px;
}
#vertblue {
    background-color: rgb(57, 67, 112);
    width: 4px;
    height: 767px;
    left: 226px;
    bottom: 767px;
}
#circle {
    position: absolute;
    left: 234px;
    bottom: 755px;
}


ul{
    background-color: rgb(57, 67, 112);
    width: 222px;
    height: 767px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li, a{
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

#menu-lateral{
    position: absolute;
    top: 69px;
    display: flex;
    flex-direction: column;
    font-size: 20px; 
}

a{
    font-size: 20px;
}

/*------------------------------------------------------------------*/

#iniciolane {
    height: 45px;
    
}
#highlight1 {
    height: 20px;
    width: 3px;
    bottom: 14px;
    left: 45px;
}
#inicio {
    left: 45px;
    bottom: 46px;
}
#GRAH1 {
    width: 200px;
}

#house {
    height: 27.82px;
    width: 37px;
    top: 8px;
    left: 0px;
}

/*------------------------------------------------------------------*/

#turmaslane {
    height: 45px;
    
}
#highlight2 {
    height: 20px;
    width: 3px;
    bottom: 14px;
    left: 45px;
}
#turmas {
    left: 45px;
    bottom: 46px;
}
#GRAH2 {
    width: 200px;
}

#people {
    height: 27.82px;
    width: 37px;
    top: 8px;
    left: 0px;
}

/*------------------------------------------------------------------*/

#notaslane {
    height: 45px;
    
}
#highlight3 {
    height: 20px;
    width: 3px;
    bottom: 14px;
    left: 45px;
}
#notas {
    left: 45px;
    bottom: 46px;
}
#GRAH3 {
    width: 200px;
}

#paper {
    height: 27.82px;
    width: 37px;
    top: 8px;
    left: 0px;
}

/*------------------------------------------------------------------*/

#calendariolane {
    height: 45px;
    
}
#highlight4 {
    height: 20px;
    width: 3px;
    bottom: 14px;
    left: 45px;
}
#calendario {
    left: 45px;
    bottom: 46px;
}
#GRAH4 {
    width: 200px;
}

#calendar {
    height: 27.82px;
    width: 37px;
    top: 8px;
    left: 0px;
}

/*------------------------------------------------------------------*/

#avisoslane {
    height: 45px;
    
}
#highlight5 {
    height: 20px;
    width: 3px;
    bottom: 14px;
    left: 45px;
}
#avisos {
    left: 45px;
    bottom: 46px;
}
#GRAH5 {
    width: 200px;
}

#warning {
    height: 27.82px;
    width: 37px;
    top: 8px;
    left: 0px;
}

/*------------------------------------------------------------------*/

#horarioslane {
    height: 45px;
    
}
#highlight6 {
    height: 20px;
    width: 3px;
    bottom: 14px;
    left: 45px;
}
#horarios {
    left: 45px;
    bottom: 46px;
}
#GRAH6 {
    width: 200px;
}

#clock {
    height: 27.82px;
    width: 37px;
    top: 8px;
    left: 0px;
}

/*------------------------------------------------------------------*/

#foto{
    background-color: rgb(57, 67, 112);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
#nome{
    color: rgb(39, 45, 77);
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-family: Cabin;
}
#username{
    font-size: 16px;
    font-weight: 500;
}
#usertype{
    font-size: 16px;
    font-weight: 500;
}


#usuario{
    display:flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 1%;
    right: 1%;
    margin-right: 15px;
}

#sair{
    display:flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

#logout{
    position: absolute;
    bottom: 1%;
    left: 1%;
    height: 22px;
    width: 23.4px;
}

#nome-sair{
    position: absolute;
    bottom: 2px;
    left: 18px;
    font-size: 18px;
}

#gear{
    position: absolute;
    bottom: 1%;
    left: 181px;
    height: 18px;
}

#sino-notificacao{
    height: 40px;
    margin-left: 20px;
}