*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

body{
    display: flex;
    background-color: #394370;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}


main{
    display: flex;

}

#form{
    display: flex;
    flex-direction: column;
}

footer {
    
}